@model IEnumerable<Product>
@{
    ViewBag.Title = "Home Page";
}

<div class="row shift-content-below">
    <div class="col-md-4">
        <img src="~/img/Free_Shipping_on_All_Orders_Over_$50.png" />
    </div>
    <div class="col-md-4">
        <h5>SHOP BY CATEGORY</h5>
    </div>
    <div class="col-md-4">
        <h5>BEST SELLING PRODUCTS</h5>
    </div>
</div>
      

